.header {
  width: 28%;
  margin: 30px auto;
  border: 1px solid black;
  box-shadow: 5px 14px 29px -3px #a6a2a2;
}

.todo-list {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 12px 0;
}

.table{
  width: 100%;
  margin: 0 auto;
}